@import url("../../assets/styles/theme.less");

.remove-liquidity-form {
  max-width: 420px;
  margin   : 0 auto;

  .title {
    padding    : 20px 0;
    font-size  : 20px;
    font-weight: 600;
  }
}

.remove-ratio {
  position       : relative;
  height         : 40px;
  display        : flex;
  align-items    : center;
  justify-content: center;

  .remove-ratio-title {
    font-size  : 16px;
    color      : @heading-color-secondary;
    position   : absolute;
    left       : 0;
    top        : 5px;
    height     : 30px;
    display    : flex;
    align-items: center;
  }

  .remove-ratio-value {
    font-size  : 24px;
    font-weight: 600;
  }
}

.pooled-token {
  display        : flex;
  justify-content: space-between;
  align-items    : center;
}

.slider-buttons {
  display        : flex;
  align-items    : center;
  justify-content: space-between;
}


.slider-container,
.pooled-info {
  border       : 1px solid @border-color-base;
  border-radius: 10px;
  padding      : 15px 20px;
}