@import url("../../assets/styles/theme.less");

.swap-form {
  width    : 100%;
  height   : 100%;
  max-width: 420px;
  height   : 600px;
  margin   : 0 auto;


}



.swap-symbol {
  padding: 10px;
}


.swap__options {


  margin-top   : 20px;
  margin-bottom: 20px;

  .swap__options--title {
    color        : #037dd6;
    font-size    : 20px;
    margin-bottom: 5px;
  }
}

.swap__to {
  margin-bottom: 50px;
}


.swap__buttons {
  button {
    display         : flex;
    align-items     : center;
    justify-content : center;
    width           : 100%;
    padding         : 16px 12px;
    color           : #ffffff;
    background-color: #1990ff;
    font-size       : 18px;
    border-radius   : 20px;
    height          : 60px;

    &:hover {
      cursor          : pointer;
      background-color: lighten(#1990ff, 10%);
      box-shadow      : 0 0 5px 3px rgba(0, 0, 0, 0.1);
      transition      : all linear 0.1s;
    }
  }
}

