#nav {
  padding  : 10px 20px;
  font-size: 18px;

  a {
    margin-right: 10px;
    color       : rgba(0, 0, 0, 0.6);

    &.active-nav {
      color: rgba(0, 0, 0, 1);
    }
  }
}
.main-container{
  margin: 0 auto;
}